<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="cn.beanbang.springcore"/>

    <aop:aspectj-autoproxy/>

    <bean id="sysService" class="cn.beanbang.springcore.service.SysService"/>

    <bean id="userService" class="cn.beanbang.springcore.service.impl.UserService"/>

    <bean id="logAspect" class="cn.beanbang.springcore.common.LogAspect"/>

    <!--<aop:config>
        &lt;!&ndash; service 包下的所有的包的所有的类的任意参数 &ndash;&gt;
        <aop:pointcut id="myPointcut" expression="execution(* cn.beanbang.springcore.service.*.*(..)))"/>

        <aop:aspect ref="logAspect">

            <aop:before method="before" pointcut-ref="myPointcut"></aop:before>

            <aop:after method="after" pointcut-ref="myPointcut"></aop:after>

            <aop:around method="around" pointcut-ref="myPointcut"></aop:around>

            &lt;!&ndash; throwing: 把错误的对象传递给e参数 &ndash;&gt;
            <aop:after-throwing method="err" pointcut-ref="myPointcut" throwing="e"></aop:after-throwing>

        </aop:aspect>

    </aop:config>-->

</beans>